@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    min-height: 100%;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    @apply min-h-screen min-h-dvh bg-gradient-to-br from-indigo-400 via-purple-500 to-purple-700 text-slate-900 antialiased;
    background-attachment: fixed;
  }

  a {
    @apply text-inherit no-underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
